body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #000;
}
.logo {
    width: 220px;
    height: 180px;
    filter:brightness(140%);
}

.navbar {
    width: auto;
    height: 10%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem 0.6rem 4rem;

}
button {
    color: white;
    padding: 10px 25px;
    background-color: transparent;
    border-radius: 1rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: large;
    box-shadow: 5px 5px 80px 5px #4c73c2;
    border: 0.5mm solid #4c73c2;
}

h3 {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: rgb(11, 129, 152);
    text-shadow: 2px 2px 2px white;
}

h1 {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    color: rgb(11, 129, 152);
    text-shadow: 2px 2px 2px white;
    margin: 7rem 0rem;
}

.view {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 3rem;
}

.block {
    box-shadow: 0px 0px 80px 0px #4c73c2;
    border: 0.5mm solid #4c73c2;
    overflow: hidden;
    border-radius: 20px;
    height: 200px;
    width: 300px;
    margin: 50px;
    
}

.block:nth-child(1) {
    background: url('./img1.jpg');
    background-size: cover;
}

.block:nth-child(2) {
    background: url('./img2.jpg');
    background-size: cover;
    width: 500px;
}

.block:nth-child(3) {
    background: url('./img3.jpg');
    background-size: cover;
}

.block:nth-child(4) {
    background: url('./img4.png');
    width: 700px;
    background-size: cover;
}

.block:nth-child(5) {
    background: url('./img5.jpg');
    background-size: cover;
}

.block:nth-child(6) {
    background: url('./img6.png');
    background-size: cover;
}

.block:nth-child(7) {
    background: url('./img3.jpg');
    background-size: cover;
}

.block:nth-child(8) {
    background: url('./img8.jpg');
    background-size: cover;
    width: 700px;
}

.block:nth-child(9) {
    background: url('./img2.jpg');
    background-size: cover;
}

.block:nth-child(10) {
    background: url('./img4.png');
    width: 500px;
    background-size: cover;
}

.block:nth-child(11) {
    background: url('./img6.png');
    background-size: cover;
}

.block:nth-child(12) {
    background: url('./img4.png');
    background-size: cover;
}

.block:nth-child(13) {
    background: url('./img5.jpg');
    background-size: cover;
}

.block:nth-child(14) {
    background: url('./img8.jpg');
    background-size: cover;
}

.block:nth-child(15) {
    background: url('./img1.jpg');
    background-size: cover;
}

.block:nth-child(16) {
    background: url('./img2.jpg');
    width: 700px;
    background-size: cover;
}

.block:nth-child(17) {
    background: url('./img4.png');
    background-size: cover;
    }

.block:nth-child(18) {
    background: url('./img8.jpg');
    background-size: cover;
}

.block:nth-child(19) {
    background: url('./img5.jpg');
    background-size: cover;
}

.block:nth-child(20) {
    background: url('./img1.jpg');
    width: 700px;
    background-size: cover;
}

@keyframes appear {
    from {
        opacity: 0;
        clip-path: inset(100% 100% 30% 50%);
    }

    to {
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
}

.block {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}